<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="SurityRestAPIBaseURL" value="http://localhost:64369/api/v1/" />
    <add key="ImageUploadEndpoint" value="image/upload" />
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>